@font-face {
  font-family: 'SiPH Beta';
  src: url('/fonts/SiPH-beta.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'SiPH Beta', sans-serif !important;
  font-weight: 500;
}

:root {
  /* colors */
  --primary-color: #1890ff;
  --text-color: #333;

  /* font sizes */
  --font-small: 14px;
  --font-large: 18px;

  /* font weights */
  --font-medium: 500;
}

body {
  color: var(--text-color);
  font-family: 'SiPH Beta', sans-serif !important;
}

@media (max-width: 600px) {
  :root {
    --font-medium: var(--font-small);
    --font-large: var(--font-medium);
  }
}